
.login {
  @media only screen and (max-width: 425px) {
    input {
      width: 100%;
    }
  }
}

.register-layout {
  @media only screen and (max-width: 425px) {
    input {
      width: 100%;
    }
  }
}
.alert {
  padding: .5rem 0 .5rem 0;
  color: crimson;
}
