
$BaseFont: Georgia1, Georgia, serif, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$CodeFont: Courier New, Courier New, monospace;
$RomanFont: Times New Roman, Times New Roman, Times, serif;

// Colors Group
$ColdColor: #8eacbf;